.home-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

.home-page .header-section {
    display: flex;
    justify-content: space-between;
}

.home-page .header-section .search-box {
    flex: 1;
}

.home-page .btn {
    width: 150px;
    height: auto;
    margin: 0 1rem;
}